<mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1717278694/png-transparent-man-male-person-avatar-use-people-3d-icon_rbeuqy.png" alt="Image 1">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1717278694/png-transparent-man-male-person-avatar-use-people-3d-icon_rbeuqy.png" alt="Image 2">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1717278694/png-transparent-man-male-person-avatar-use-people-3d-icon_rbeuqy.png" alt="Image 3">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  