<h2 class="p-2 fw-bold fw-josefin">Lista de trabajadores</h2>
<div class="d-flex">
    <p class="ms-auto p-2">
        <button mat-raised-button color="warn" (click)="addUsuario()" class="rounded-2 w-100">Crear trabajadores</button>
    </p>
</div>

<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el texto..." #input>
</mat-form-field>
<br>

<mat-table [dataSource]="usuarios" class="mat-elevation-z8 rounded-1">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="fw-bold">ID</mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.id}}</mat-cell>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef class="fw-bold">Nombre Completo</mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.nombre}} {{usuario.apellido}}</mat-cell>
    </ng-container>

    <!-- Cargo Column -->
    <ng-container matColumnDef="cargo">
        <mat-header-cell *matHeaderCellDef class="fw-bold">Cargo</mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.cargo}}</mat-cell>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef class="fw-bold">Fecha</mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.fecha | date}}</mat-cell>
    </ng-container>

    <!-- Clave Column -->
    <ng-container matColumnDef="clave">
        <mat-header-cell *matHeaderCellDef class="fw-bold">Clave</mat-header-cell>
        <mat-cell *matCellDef="let usuario">{{usuario.clave}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="fw-bold">Acciones</mat-header-cell>
        <mat-cell *matCellDef="let usuario">
            <button mat-button (click)="editUsuario(usuario.id)">Editar</button>
            <button mat-button (click)="deleteUsuario(usuario.id)">Eliminar</button>
            <button mat-button >Ver Hijos</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label=""></mat-paginator>

<!--Dialog-->
